<header class="navbar navbar-inverse navbar-fixed-top " role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ page.base_url }}" class="navbar-brand">DiscoJuice</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<li{% if page.slug == "getting-started" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}getting-started/">Getting started</a>
				</li>
				<li{% if page.slug == "customize" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}customize/">Customize</a>
				</li>
				<li{% if page.slug == "advanced" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}advanced/">Advanced</a>
				</li>
				<li{% if page.slug == "federation" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}federation/">Federations</a>
				</li>
				<li{% if page.slug == "community" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}community/">Community</a>
				</li>
				<li{% if page.slug == "demo" %} class="active"{% endif %}>
					<a href="{{ page.base_url }}demo/">Demo</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
